{% set creds = h.datadotworld_creds(org_id) %}

{% if creds and creds.show_links and datadotworld_extras %}
  <div class="data-world-insights">
    <div class="data-world-insights-holder">

      <h2 class="data-world-insights-heading">
        {{ _('Visualize, join and collaborate') }}
      </h2>
      <p>
        {% trans %}
          Do more with others on data.world. Sign up is free.
        {% endtrans %}
      </p>
    </div>
    <div class="data-world-button-holder">
      <a class="btn btn-primary btn-data-world" href="{{ h.datadotworld_link(creds.owner, datadotworld_extras.id) }}" target="_blank">
        <strong>
          <i class="icon-external-link"></i>
          {{ _('View on data.world') }}
        </strong>
      </a>
    </div>
  </div>

{% endif %}
