.label-data-world {
    text-shadow: none;
    width: 144px;
    text-transform: none;
    padding: 4px 5px 5px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #5492c0;
}
.data-world-insights .label-data-world {
    margin: 4px 8px 0 0;
}
.part-linked {
    font-size: 10px;
    padding: 10px 4px 10px;
    letter-spacing: -0.4px;
    font-style: italic;
}
.part-label {
    background: #313e48;
    font-size: 15px;
    font-family: initial;
    padding: 10px 12px 10px 8px;
}

.data-world-insights {
    background-color: #dde9f5;
    border: 1px solid #a3c5e7;
    border-radius: 3px;
    padding: 10px 18px 4px;

}
.data-world-insights-holder {
    display: inline-block;
}
.data-world-insights-heading {
    line-height: 14px;
    letter-spacing: -.5px;
}
.data-world-button-holder {
    float: right;
    padding-top: 14px;
}
.btn-data-world {
    border: 1px solid #1d616e;
    background-color: #4a82b3;
    background-image: linear-gradient(to bottom,#4a82b3,#336d9d)
}

.btn-data-world:hover{
    background: #336d9d;
}

a i.icon-data-world {
    background: url("/images/dw-sparkle-badge.png") 50% no-repeat;
    background-size: contain;
}

.active a i.icon-data-world {
    background: url("/images/dw-sparkle-badge-active.png") 50% no-repeat;
    background-size: contain;
}
a i.icon-data-world:before{
    content: 'ico';
    color: transparent;
}
/* The switch - the box around the slider */
.control-group.switch{
    margin-top: -30px;
    margin-bottom: 30px;
}
.switch .checkbox {
    margin-top: 2px;
    position: relative;
    display: inline-block;

    height: 20px;
    box-sizing: border-box;
}
[data-module=info-popover] i {
    color: #3266a0;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
a[data-module=info-popover]:hover, a[data-module=info-popover]:focus {
    text-decoration: none;
}
[data-module="data-world-credentials-form"] .popover .arrow {
    display: none;
}
[data-module="data-world-credentials-form"] .popover {
    background: #f0f8fe;
    border: 1px solid #13689c;
}
label .popover {
        font-weight: normal;

}
/* Hide default HTML checkbox */
.switch .checkbox input {display:none;}
.switch .checkbox {
    padding-left: 70px;
}
/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  left: 0;
  width: 58px;
  top: 5px;
  bottom: -5px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider span {
    position: absolute;
    text-transform: uppercase;
    top: 1px;
    font-size: 13px;
    -webkit-transition: .4s;
    transition: .4s;

}
.switch .slider .check-on {
    color: #fff;
    left: -27px;

}
.switch .slider .check-off {
    left: 25px;
    color: #505050;
}


.switch  .slider:before {
  position: absolute;
  content: " ";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  box-shadow: 1px 1px 3px grey;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


.switch  input:checked + .slider {
  background-color: #00a14b;
}
.switch input:checked + .slider .check-on {
    left: 10px;
}
.switch input:checked + .slider .check-off {
    left: 65px;
}

.switch  input:focus + .slider {
  box-shadow: 0 0 1px #00a14b;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
