{% extends 'page.html' %}


{% block subtitle %}{{ _('%s pushes')|format(displayed_state|capitalize) }} - data.world{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Info page') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
          This page contains information about datasets with '{{displayed_state}}' replication status between the current CKAN instance and the
          <a href="http://data.world" target="_blank">data.world</a> portal.
        {% endtrans %}
      </p>
    </div>
  </section>
{% endblock secondary_content %}

{% block primary_content_inner %}
  {% if datasets|length %}
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{ _('Dataset') }}</th>
        <th>{{ _('Details') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for pkg in datasets  %}
        <tr>
          <td>
            <a href="{{ h.url_for('dataset_read', id=pkg.name) }}">
              {{ h.truncate(pkg.title, 30) }}
            </a>
          </td>
          <td>
            {% for key, msg in pkg.message.items() %}
              <p><strong>{{ key }}:</strong> {{ msg }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>
    {{ _('There are no datasets with status `%s`')|format(displayed_state) }}
  </p>
{% endif %}
{% endblock %}
