{% ckan_extends %}

{% block package_notes %}
  {{ super() }}
  {% set creds = h.datadotworld_creds(pkg.owner_org) %}

  {% if creds and creds.show_links and c.pkg.datadotworld_extras %}
    <div class="data-world-insights">
      <div class="data-world-insights-holder">

        <h2 class="data-world-insights-heading">
          {{ _('Data.world insights') }}
        </h2>
        <p>
          {% trans %}
            Explore, collaborate or share the data through <em>data.world</em>
          {% endtrans %}
        </p>
      </div>
      <div class="data-world-button-holder">
        <a class="btn btn-primary btn-data-world" href="{{ h.datadotworld_link(creds.owner, c.pkg.datadotworld_extras.id) }}">
          <strong>
            <i class="icon-external-link"></i>
            {{ _('View dataset in Data.world') }}
          </strong>
        </a>
      </div>
    </div>

{% endif %}
{% endblock %}
