{% extends "organization/edit_base.html" %}
{% import 'macros/form.html' as form %}


{% macro checkbox(name, id='', label='', value='', checked=false, placeholder='', error="", classes=[], attrs={}, is_required=false) %}
  {%- set extra_html = caller() if caller -%}
  <div class="control-group{{ " " ~ classes | join(" ") }}{% if error %} error{% endif %}">
    <div class="controls">
      <label class="checkbox" for="{{ id or name }}">
        <input id="{{ id or name }}" type="checkbox" name="{{ name }}" value="{{ value | empty_and_escape }}" {{ "checked " if checked }} {{ form.attributes(attrs) }} />
        <div class="slider round">
          <span class="check-on">On</span>
          <span class="check-off">Off</span>
        </div>
        {{ label or name }}
        {% if is_required %}{{ form.input_required() }}{% endif %}
        {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}

      </label>
      {{ extra_html }}

    </div>
  </div>
{% endmacro %}



{% block subtitle %}{{ _('data.world') }} - {{ super() }}{% endblock %}



{% block primary_content_inner %}
  <h3>{{ _('Overview') }}</h3>
  {% trans %}
    <p>Data.world is a vibrant community of data professionals and enthusiasts.
      <br/> Data.world tools allow people working on data projects to discover and get the most out of your data.
      <br/> Link this organization to a data.world profile to start replicating data automatically from CKAN to data.world.
    </p>
<p><b>Important:</b> At the moment, synchronization is unidirectional so changes made in CKAN are replicated to data.world, but the opposite is not true.</p>
{% endtrans %}

<hr />
<h3>{{ _('Configuration') }}</h3>

<form method="POST" class="form-horizontal" data-module="data-world-credentials-form">
  {{ form.errors(error_summary) }}

  {% set info_template =  ''' <a href="#" data-content="{0}" data-module="info-popover"> <i class="icon-info-sign" ></i> </a>'''|safe %}

  {% set info = info_template.format( _('Quam vulputate dignissim suspendisse in est ante in nibh mauris, cursus? Erat pellentesque adipiscing commodo elit, at. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia! In nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit. Volutpat sed cras ornare arcu? Adipiscing elit pellentesque habitant morbi tristique? Nibh ipsum consequat nisl, vel pretium lectus. Nec ultrices dui sapien eget mi proin sed libero enim, sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis!') ) %}
  {{ form.input('owner', label=_('User name') + info, value=c.credentials.owner, error=errors.owner) }}

  {% set info = info_template.format(_('Quam vulpu. Volutpat sed cras ornare arcu? Adipiscing elit pellentesque habitant morbi tristique? Ni. Nec ultrices dui sapien eget mi proin sed libero enim, sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis!')) %}
  <div class="control-full">
    {{ form.input('key', label=_('API authorization token') + info, type='password', value=c.credentials.key, error=errors.key) }}
  </div>

  {{ form.hidden('integration', value=False) }}
  {% call checkbox('integration', label=_('Automatically replicate data'), value=True, checked=h.asbool(c.credentials.integration), error=errors.integration, classes=['switch']) %}
    <a href="#"  data-content="{{ _('Felis eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer enim neque, volutpat ac tincidunt vitae, semper quis lectus nulla at volutpat diam ut venenatis tellus in? Velit dignissim sodales ut eu sem integer vitae justo eget.') }}" data-module="info-popover">
      <i class="icon-info-sign" ></i>
    </a>
  {% endcall %}

  {{ form.hidden('show_links', value=False) }}
  {% call checkbox('show_links', label=_('Show links in org and dataset pages'), value=True, checked=h.asbool(c.credentials.show_links), error=errors.show_links, classes=['switch']) %}
    <a href="#" data-content="{{ _('Quam vulputate dignissim suspendisse in est ante in nibh mauris, cursus? Erat pellentesque adipiscing commodo elit, at. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia! In nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit. Volutpat sed cras ornare arcu? Adipiscing elit pellentesque habitant morbi tristique? Nibh ipsum consequat nisl, vel pretium lectus. Nec ultrices dui sapien eget mi proin sed libero enim, sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis!') }}" data-module="info-popover">
      <i class="icon-info-sign" ></i>
    </a>
  {% endcall %}

  <hr/>
  <h3>{{ _('Replication Status') }}:</h3>
  <table class="table-striped table-hover table-condensed table">
    <tr>
      <th>{{ _('Pending') }}</th>
      <td>
        <a href="{{ h.url_for('list_dataworld_sync', state='up-to-date') }}">
          {{ stats.pending|default(0) }}
        </a>
      </td>
    </tr>
    <tr>
      <th>{{ _('Up to date') }}</th>
      <td>
        <a href="{{ h.url_for('list_dataworld_sync', state='up-to-date') }}">
          {{ stats['up-to-date']|default(0) }}
        </a>
      </td>
    </tr>
    <tr>
      <th>{{ _('Failed') }}</th>
      <td>
        <a href="{{ h.url_for('list_dataworld_sync', state='failed') }}">
          {{ stats.failed|default(0) }}
        </a>
      </td>
    </tr>
  </table>





  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{{ _('Save') }}</button>
  </div>
</form>
{% endblock %}
